body a {
    text-decoration: none;
}

body {
    background: url("../assets/img/undraw_To_the_stars_qhyy.svg");
    background-color: #C4C4C4;
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

.nav_bar {
    padding: 0.4em 0;
}

@media screen and (max-width: 770px) {
    .p_2 {
        padding: 7px !important;
    }
}

.main_body_holder {
    display: flex;
    align-content: center;
    justify-content: center;
    min-height: 100vh;
    min-width: 100%;
}

.center {
    margin: 0 auto;
}

.right {
    float: right;
    color: #0A4066;
}

.p_2 {
    padding: 20px;
}

.logo img {
    width: 20px;
}

.logo span {
    color: #000;
    font-weight: bold;
    font-size: 20px;
}

.main_hero {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.hero_img_holder {
    position: relative;
    min-width: 500px;
    bottom: 3em;
}

.hero_img_holder img {
    width: 70%;
    max-height: 50%;
    display: block;
    margin: 0 auto;
}

.hero_text_holder {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero_text_holder h1 {
    font-size: 48px;
}

.hero_text_holder p,
.hero_text_holder h1 {
    padding: 0;
    margin: 0;
}

.email_me {
    display: flex;
    justify-content: center;
    margin: 2rem auto;
}

.email_me form {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: auto;
    margin: 0;
    position: relative;
}

.email_me input {
    border-radius: 35px;
    border: 1px solid #0A4066;
    font-size: 15px;
    padding: 20px;
    width: 100%;
}

.email_me button {
    position: absolute;
    right: 0;
    top: 0;
    background-color: #0A4066;
    color: #fff;
    min-width: 30%;
    border: 0;
    border-radius: 35px;
    cursor: pointer;
    font-size: 15px;
    padding: 21px;
}

@media screen and (max-width: 770px) {
    .main_body_holder {
        min-height: 100vh;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .hero_img_holder {
        min-width: 300px;
    }
    .hero_text_holder h1 {
        font-size: 30px;
    }
    .main_hero,
    .email_me {
        margin-top: 3em;
    }
    .email_me form {
        width: 100%;
        margin: 0 auto;
    }
    .email_me input {
        border-radius: 35px;
        border: 1px solid #0A4066;
        font-size: 15px;
        padding: 14px;
        width: 100%;
    }
    .email_me button {
        min-width: 40%;
        padding: 15px;
    }

    .logo span{
        display: none;
    }
}
